.accordion {
  position: relative;
  cursor: pointer;
  width: 100%;
  font-size: rem(28);
  color: $black;
  padding-left: rem(50);
  letter-spacing: 0.5px;
  &.active {
    font-weight: 700;
  }
  &:before {
    content: '';
    background: url('../img/arrow-left.svg') no-repeat center center;
    background-size: contain;
    width: rem(40);
    height: rem(40);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 540px) {
      width: rem(30);
      height: rem(30);
    }
  }
  @media (max-width: 540px) {
    font-size: rem(20);
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion__content {
  padding: rem(35 10 10 30);
  @media (max-width: 540px) {
    padding-left: 0;
  }
}
