$action-btn-bg: #283a52;

.action-button {
  border-radius: 4px;
  border: 1px solid $dark-blue;
  background-color: $action-btn-bg;
  color: #fff;
  font: {
    size: rem(12);
    weight: 400;
    family: $source-sans-pro;
  }
  padding: rem(15 60 16);
  transition: box-shadow 250ms;
  &:hover, &:focus {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  }
  &_font-size-15 {
    font-size: rem(15);
  }
  &_exchange {
    border-color: $popup-title-color;
    background: #3279ec;
    display: inline-block;
    padding: {
      top: rem(13);
      left: rem(54);
      right: rem(54);
    }
  }
}
 
