.aside-nav-container {
  min-height: calc(100vh - 9.9375rem);
  min-width: rem(250);
  background: #fff;
  // @media (max-width: 660px) {
  //   display: none;
  // }
  @media (max-width: 768px) {
    min-height: 0;
  }
}

.aside-nav-container__user {
  background: $dark-blue;
  color: #fff;
  font: {
    size: rem(18);
    family: $roboto;
    weight: 500;
  }
  padding: rem(50 48 50 32);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  &_small-padding-bottom {
    padding-bottom: rem(24);
  }
  @media (max-width: 768px) {
    padding: rem(30 20 30 32);
  }
}

.aside-nav-container__link {
  display: block;
}
