.big-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: rem(39 50 0 44);
  margin-bottom: rem(255);
}

.big-header__logo {
  max-width: rem(389);
  @media (max-width: 540px) {
    max-width: rem(220);
  }
}
