.block {
  background: $dashboard-blue;
  margin: {
    bottom: rem(16);
    right: rem(16);
  }
  border-radius: 8px;
  width: 100%;
  max-width: 50%;
  &_medium {
    max-width: none;
    flex: 0 0 56.612%;
    & + .block {
      max-width: none;
    }
  }
  &_padding {
    padding: rem(5 5 32);
  }
  &_max-width-none {
    max-width: none;
  }
  // &:first-child {
  //   @media (min-width: 1080px) {
  //     margin-right: rem(15);
  //   }
  // }
  // &:last-child {
  //   @media (min-width: 1080px) {
  //     margin-left: rem(15);
  //   }
  // }
  // @media (max-width: 1080px) {
  //   width: 100%;
  // }
  // &_big {
  //   flex-grow: 1;
  // }
  // &_small {
  //   max-width: rem(364);
  //   @media (max-width: 1080px) {
  //     max-width: none;
  //   }
  //   .block__header {
  //     @media (min-width: 1501px) and (max-width: 1700px) {
  //       padding-right: rem(10);
  //     }
  //   }
  // }
  // &_box-shadow {
  //   height: 100%;
  //   box-shadow: 0 3px 6px rgba(13, 13, 13, 0.12);
  // }
  // &_alt {
  //   box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  //   max-width: rem(1120);
  //   border-radius: 7px;
  // }
}

.block__header {
  background: $dashboard-dark-blue;
  padding: rem(10 19 3);
  &_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_transactions {
    padding: rem(9 83 15 9);
  }
  &_alt-padding {
    padding: rem(3 11 13);
  }
  &_margin-bottom {
    margin-bottom: rem(6);
  }
}

.block__title {
  font: {
    size: rem(20);
    weight: 400;
  }
  color: $white-with-blue;
  &_font-size-17 {
    font-size: rem(17);
  }
  &_font-size-12 {
    font-size: rem(12);
  }
  &_font-size-14 {
    font-size: rem(14);
  }
  &_margin-bottom {
    margin-bottom: rem(50);
  }
}

.block__subtitle {
  color: $white-with-blue;
  font: {
    size: rem(16);
    weight: 400;
  }
  &_font-size-20 {
    font-size: rem(20);
  }
}

.block__actions {
  color: $block-color;
  font: {
    size: rem(18);
    weight: 300;
  }
}

.block__action-btn {
  font: {
    size: rem(18);
    weight: 300;
  }
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 250ms;
  &_active {
    font-weight: 400;
    border-bottom-color: $dashboard-blue;
  }
  &:not(:last-child) {
    margin-right: rem(30);
  }
}

.block__body {
  padding: rem(19 12 25 34);
  &_flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &_center-space-between {
      align-items: center;
      justify-content: space-between;
    }
  }
  &_padding-0 {
    padding: 0;
  }
  &_small-padding {
    height: 100%;
    padding: rem(14 35 17 24);
  }
  img {
    width: 100%;
  }
}

.block__col {
  flex: 0 0 50%;
  height: 100%;
  &_text-center {
    text-align: center;
  }
}

.block__status {
  font: {
    size: rem(36);
    weight: 700;
  }
  color: #c2d7e8;
  &_font-size-26 {
    font-size: rem(26);
  }
}

.block__form {
  position: relative;
  margin: {
    top: rem(30);
    right: rem(95);
  }
  display: none;
  &.active {
    display: block;
  }
  @media (max-width: 475px) {
    margin: rem(30) auto rem(115);
  }
  @media (max-width: 375px) {
    margin-left: 0;
  }
}
