.credit-card-form {
  bottom: -21.5rem;
  right: 100%;
  min-height: rem(827);
  margin: rem(25 0);
  width: rem(441);
  .form__item {
    &:not(.form__item_margin-bottom-0) {
      margin-bottom: rem(30);
    }
  }
}

.credit-card-form__card {
  position: relative;
  margin-bottom: rem(66);
}

.credit-card-form__datas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 rem(40) rem(35);
}

.credit-card-form__status {
  font: {
    size: rem(19);
    family: $roboto;
    weight: 700;
  }
  color: #8495ac;
  text-align: center;
  margin-bottom: rem(35);
}

.credit-card-form__btn {
  text-align: center;
  margin-bottom: rem(16);
}
