.dashboard {
  width: 100%;
  flex-grow: 1;
  background-color: $dashboard-bg;
  position: relative;
}

.dashboard__container {
  padding-left: rem(94);
  position: relative;
  &_bigger-padding {
    padding-left: rem(150);
  }
  @media (max-width: 968px) {
    padding-left: 0;
  }
}

.dashboard__block-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-right: rem(-16);
  @media (max-width: 668px) {
    flex-wrap: wrap;
  }
}
