.first-slide {
  padding-bottom: rem(410);
  position: relative;
  @media (min-width: 1960px) {
    padding-bottom: rem(500);
  }
}

.first-slide__title {
  position: relative;
  max-width: rem(817);
  padding: 0 rem(20);
  margin: 0 auto;
  .big {
    display: block;
    margin-top: rem(40);
    font-size: rem(101);
    @media (max-width: 700px) {
      font-size: rem(50);
    }
  }
  @media (max-width: 700px) {
    max-width: 33rem;
  }
}

.first-slide__icon {
  position: absolute;
  right: rem(-41);
  bottom: rem(100);
  width: rem(41);
  height: rem(67);
  @media (max-width: 800px) {
    right: rem(10);
  }
  @media (max-width: 700px) {
    bottom: rem(45);
    right: rem(20);
  }
  @media (max-width: 375px) {
    display: none;
  }
}
