%default-reset {
  box-shadow: none;
  border: none;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
  margin: 0;
}

%default-text {
  color: #43425d;
  font: {
    size: rem(15);
    family: $main-font;
  }
}

select, input {
  @extend %default-reset;
}

.form__item {
  margin-bottom: rem(46);
  &_with-content {
    border-bottom: 2px solid $light-gray;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    @media (max-width: 540px) {
      align-items: center;
      line-height: 1.3;
    }
  }
  &_margin-bottom-36 {
    margin-bottom: rem(36);
    &:nth-child(2) {
      margin-bottom: rem(30);
    }
  }
  &_margin-bottom-104 {
    margin-bottom: rem(104);
  }
  &_margin-bottom-0 {
    margin-bottom: 0;
  }
  &_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form__input {
      max-width: 50%;
      padding-left: 0;
      color: #7790a7;
    }
  }
  &_width-50 {
    flex-basis: 50%;
  }
  &_alt {
    border-top: 3px solid $border-color;
    margin: 0 rem(30) rem(38);
    @media (max-width: 540px) {
      margin: 0 0 rem(38);
    }
  }
}

.form__button {
  display: flex;
  justify-content: center;
}

.form__content {
  padding: rem(0 5 8 8);
  line-height: 1.2;
  white-space: nowrap;
  @extend %default-text;
  &_font-size-13 {
    color: $light-gray;
    font-size: rem(13);
    padding-bottom: rem(13);
    line-height: 1.3;
  }
  &_font-size-19 {
    font-size: rem(19);
    color: #7790a7;
  }
}

.form__input {
  width: 100%;
  padding: rem(0 5 8 9);
  border-bottom: 2px solid $light-gray;
  @extend %default-text;
  @include input-placeholder {
    color: $popup-title-color;
  }
  &_alt {
    border-bottom: none;
    flex-basis: 100%;
  }
  &_font-size-13 {
    font-size: rem(13);
    padding-bottom: rem(13);
    padding-top: 0;
    line-height: 1.3;
  }
}

.form__label {
  font: {
    family: $roboto;
    size: rem(15);
    weight: 400;
  }
  color: $link-blue;
  // margin-right: rem(14);
  transition: color 250ms;
  cursor: pointer;
  &:hover, &:focus {
    color: darken($link-blue, 20%);
  }
  &_font-size-10 {
    font-size: rem(10);
  }
  &_font-size-12 {
    font-size: rem(12);
  }
}

.form__checkbox {
  background: #fff;
  margin-right: rem(10);
}

.form__accept {
  text-align: left;
  &_margin-bottom {
    margin-bottom: rem(32);
  }
  &_center {
    display: flex;
    justify-content: center;
  }
}

.form__textarea {
  min-height: rem(170);
  max-height: rem(400);
  resize: vertical;
  padding: rem(10 5 6 5);
  border: none;
  border-bottom: 2px solid $light-gray;
  background: transparent;
  width: 100%;
  @extend %default-text;
  @include input-placeholder {
    color: #43425d;
  }
}

.form__select {
  min-width: rem(112);
  max-width: rem(112);
  padding: rem(2 30 6 5);

  color: #43425d;
  font: {
    size: rem(15);
    family: $roboto;
  }
  &_max-width-none {
    max-width: none;
    min-width: 0;
    width: 100%;
  }
}
