.gradient-button {
  position: relative;
  background-image: linear-gradient(to right, #109bf8 0%, #e211f4 100%);
  padding: 2px;
  min-width: rem(100);
  display: inline-block;
}

.gradient-button__inner {
  display: block;
  width: 100%;
  font: {
    size: rem(12);
    weight: 400;
    family: $roboto;
  }
  background: #fff;
  padding: rem(5 26 7);
}
