.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: rem(18);
  height: rem(77);
  background: $dashboard-header-bg;
}

.header__logo {
  display: block;
  max-width: rem(174);
  padding-top: rem(14);
}

.header__col {
  height: 100%;
  width: 33.333%;
  &_medium {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
