.logout-btn {
  position: absolute;
  left: rem(38);
  bottom: rem(93);
  font: {
    size: rem(20);
    weight: 700;
  }
  color: $white-with-blue;
  text-align: center;
}

.logout-btn__icon {
  margin: 0 auto;
}
