.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: rem(110);
  &_desktop {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &_direction-column {
    flex-direction: column;
    align-items: center;
    padding: 0;
    .nav__item {
      &:not(:last-child) {
        margin: {
          right: 0;
          bottom: rem(30);
        }
      }
    }
    .nav__link {
      font-size: rem(30);
    }
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: rem(162);
  }
  &_relative {
    position: relative;
  }
}

.nav__link {
  display: block;
  color: #fff;
  font-size: rem(22);
  font: {
    size: rem(22);
    weight: 300;
  }
  transition: all 250ms;
  padding-bottom: rem(11);
  border-bottom: 4px solid transparent;
  &:hover, &:focus {
    color: $blue;
  }
  &_active {
    color: $blue;
    border-bottom-color: $blue;
  }
}
