.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // padding-top: rem(105);
  @media (max-width: 992px) {
    justify-content: space-between;
  }
  &_desktop {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &_direction-column {
    flex-direction: column;
    align-items: center;
    padding: 0;
    .nav__item {
      &:not(:last-child) {
        margin: {
          right: 0;
          bottom: rem(30);
        }
      }
    }
    .nav__link {
      font-size: rem(30);
    }
  }
  &_padding {
    padding: 0 rem(20);
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: rem(150);
    @media (max-width: 992px) {
      margin-right: rem(35);
    }
  }
  &:nth-last-child(2) {
    margin-right: rem(262);
    @media (max-width: 1400px) {
      margin-right: rem(220);
    }
    @media (max-width: 992px) {
      margin-right: rem(35);
    }
  }
  &_relative {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: rem(8);
      right: rem(-22);
      border: {
        style: solid;
        width: 9px 8px 0 8px;
        color: #fff transparent transparent transparent;
      }
    }
    @media (max-width: 1400px) {
      margin-right: rem(20);
    }
  }
  &_dashboard {
    &:not(:last-child) {
      margin-right: rem(100);
    }
  }
}

.nav__link {
  display: block;
  color: #fff;
  font-size: rem(22);
  font: {
    size: rem(22);
    weight: 300;
  }
  transition: all 250ms;
  padding-bottom: rem(12);
  border-bottom: 4px solid transparent;
  &:hover, &:focus {
    color: $blue;
  }
  &_active {
    color: $blue;
    border-bottom-color: $blue;
  }
  &_font-size-17 {
    font-size: rem(17);
  }
  &_dashboard {
    color: #bdd6ff;
    font: {
      size: rem(13);
      weight: 400;
    }
    padding-bottom: 0;
  }
}
