.popup-block {
  background: #fff;
  border: 1px solid $gray;
  padding: rem(28 16 22);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: rem(372);
  position: absolute;
  z-index: 100;
  display: none;
  &.active {
    display: block;
  }
  &.get-wallet {
    padding: {
      bottom: rem(95);
      top: rem(34);
    }
  }
  &.exchange-form {
    width: rem(432);
    padding-bottom: rem(51);
  }
  &_alt {
    background: $dashboard-blue;
    box-shadow: 0 3px 6px rgba(238, 219, 219, 0.68);
    border-radius: 8px;
    border: none;
    padding: rem(11 24 15);
  }
  &_mobile {
    box-shadow: none;
    width: 100%;
    position: static;
    display: block;
    border-radius: 8px;
    background: $dashboard-blue;
  }
}

.popup-block__title {
  font: {
    size: rem(27);
    weight: 300;
  }
  color: $popup-title-color;
  margin-bottom: rem(46);
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.2;
  &_exchange {
    font: {
      size: rem(32);
      weight: 700;
      family: $roboto;
    }
    margin-bottom: rem(34);
  }
  &_credit-card-form {
    color: #fff;
    letter-spacing: 0;
    font: {
      size: rem(20);
      weight: 400;
    }
  }
  &_withdraw-form {
    color: $white-with-blue;
    font: {
      size: rem(17);
      weight: 400;
    }
    letter-spacing: 0;
  }
}

.popup-block__button {
  display: flex;
  justify-content: center;
  &_margin-bottom {
    margin-bottom: rem(25);
  }
  &_margin-bottom-16 {
    margin-bottom: rem(16);
  }
}

.popup-block__close {
  width: rem(15);
  height: rem(16);
  background: url('../img/close-green.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: rem(7);
  right: rem(12);
}
