$progress-bg: #45f810;
$progress-waiting-bg: #eaeaea;

.progress {
  max-width: rem(348);
  width: 100%;
  margin-top: rem(5);
  @media (max-width: 475px) {
    max-width: none;
    margin-top: 0;
  }
}

.progress__line {
  background: $progress-bg;
  height: rem(18);
  padding: rem(2);
  border-radius: 9px;
  margin-bottom: rem(3);
  &_waiting {
    background: $progress-waiting-bg;
  }
}

.progress__status-line {
  display: block;
  border-radius: 9px;
  max-width: 100%;
  height: 100%;
  &.done {
    width: 80%;
    background-image: linear-gradient(to right, $progress-bg 0%, rgba(90, 229, 9, 0.84) 31%, rgba(107, 212, 18, 0.78) 100%);
  }
}

.progress__status {
  font: {
    size: rem(14);
    weight: 300;
    family: $roboto;
    style: italic;
  }
  margin-left: rem(10);
}
