$status-values: ();

$status-values: (
  confirmed: $yellow,
  not-confirmed: #ff3d3d
);

@each $name, $color in $status-values {
  .status_#{$name} {
    color: $color;
    border-color: $color;
  }
}

.status {
  font: {
    size: rem(43);
    weight: 700;
    family: $roboto;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: rem(188);
  height: rem(188);
  border: {
    radius: 50%;
    width: 15px;
    style: solid;
  }
}
