$statistics-values: ();
$statistics-title-color: #849fb4;

.statistics {
  background: $dashboard-blue;
  padding: rem(10 103 16 0);
}

.statistics__container {
  max-width: rem(1400);
  padding: 0 rem(20);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistics__title {
  color: $statistics-title-color;
  font-size: rem(13);
}

.statistics__value {
  font: {
    size: rem(20);
    weight: 700;
  }
}

$statistics-values: (
  rose: $rose,
  green: $dashboard-green,
  yellow: $yellow,
  blue: $dashboard-light-blue,
  red: $red
);

@each $name, $color in $statistics-values {
  .statistics__value_#{$name} {
    color: $color;
  }
}
