$statistics-values: ();

.statistics {
  background: $dashboard-blue;
  padding: rem(10 0 16 0);
  margin-bottom: rem(85);
}

.statistics__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.statistics__block {
  width: calc(100% / 6);
  // &:not(:last-child) {
  //   margin-right: 5%;
  // }
  // &:first-child {
  //   margin-right: rem(66);
  // }
}

.statistics__title {
  color: $white-with-blue;
  font-size: rem(13);
  margin-bottom: rem(2);
}

.statistics__value {
  font: {
    size: rem(20);
    weight: 700;
  }
}

.transactions,
.documents {
  .statistics {
    margin-bottom: rem(27);
  }
}

$statistics-values: (
  rose: $rose,
  green: $dashboard-green,
  yellow: $yellow,
  blue: $dashboard-light-blue,
  red: $red
);

@each $name, $color in $statistics-values {
  .statistics__value_#{$name} {
    color: $color;
  }
}
