.tabs__container {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  @media (max-width: 540px) {
    flex-direction: column;
  }
  &_faq {
    margin-bottom: rem(35);
    padding: rem(0 52);
    box-shadow: none;
  }
}

.tabs__tab {
  padding: rem(14 55 7);
  text-align: center;
  width: calc(100% / 3);
  position: relative;
  border-bottom: 1px solid $gray;
  font: {
    size: rem(52);
    weight: 300;
  }
  // line-height: 1.1;
  color: $simple-black;
  &_small-font-size {
    font-size: rem(36);
  }
  &_faq {
    color: $gray;
    padding: rem(28 0 53);
    border-bottom: 2px solid $light-gray;
    font: {
      size: rem(24);
      weight: 500;
      family: $roboto;
    }
    &.active {
      color: $black;
      font-weight: 700;
    }
  }
  &.active {
    &:after {
      content: '';
      height: 6px;
      background: $blue;
      left: 0;
      bottom: -2px;
      width: 100%;
      position: absolute;
    }
  }
  @media (max-width: 968px) {
    font-size: rem(20);
  }
  @media (max-width: 760px) {
    font-size: rem(18);
  }
  @media (max-width: 540px) {
    font-size: rem(20);
    width: 100%;
    padding: {
      left: rem(15);
      right: rem(15);
    }
    &:last-child {
      border-bottom-color: transparent;
    }
  }
}

.tabs__title {
  font: {
    size: rem(16);
    weight: 300;
  }
  margin-bottom: rem(15);
}

.tabs__paragraph {
  &:not(:last-child) {
    margin-bottom: rem(10);
  }
}

.tabs__content {
  background: transparent;
  padding: rem(12 16);
  font-size: rem(20);
  color: $simple-black;
  &_long-text {
    p {
      font-size: rem(11);
      color: $simple-black;
    }
  }
  &_faq {
    margin-left: rem(28);
    background: #fff;
    padding: rem(22 32);
    font-size: rem(20);
    &_long-text {
      font-size: rem(14);
      color: $gray;
      p {
        font-size: rem(14);
        color: $gray;
      }
    }
    @media (max-width: 968px) {
      margin-left: 0;
    }
  }
  @media (max-width: 760px) {
    font-size: rem(18);
  }
  @media (max-width: 540px) {
    padding: {
      left: rem(15);
      right: rem(15);
    }
  }
}

.tabs__content-item {
  &:not(:last-child) {
    margin-bottom: rem(42);
  }
}
