.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  color: $white-with-blue;
  font: {
    size: rem(12);
    weight: 400;
  }
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  text-align: left;
  white-space: nowrap;
}

.table__th {
  font-weight: 400;
  padding: rem(13 18 18);
  &_text-right {
    text-align: right;
  }
  &_with-bg {
    background: $dashboard-dark-blue;
  }
}

.table__td {
  border-bottom: 1px solid rgba(65, 85, 142, 0.19);
  padding: rem(18 18 11);
  .underline-btn {
    min-width: rem(60);
  }
  &_text-center {
    text-align: center;
  }
  &_text-right {
    text-align: right;
  }
  &_small-padding {
    padding: {
      top: rem(10);
      bottom: rem(6);
    }
  }
}

.table__status {
  border-bottom: 3px solid $red;
}
