$active-tab-color: #3fc8ff;

.tabs__container {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(35);
  padding-left: rem(52);
  @media (max-width: 968px) {
    padding-left: 0;
  }
  @media (max-width: 540px) {
    flex-direction: column;
  }
}

.tabs__tab {
  color: $gray;
  padding: rem(28 0 53);
  text-align: center;
  width: calc(100% / 3);
  position: relative;
  border-bottom: 2px solid $light-gray;
  font: {
    size: rem(24);
    weight: 500;
    family: $roboto;
  }
  letter-spacing: 1px;
  &.active {
    color: $black;
    font-weight: 700;
    &:after {
      content: '';
      height: 3px;
      background: $active-tab-color;
      left: 0;
      bottom: -2px;
      width: 100%;
      position: absolute;
    }
  }
  @media (max-width: 968px) {
    font-size: rem(20);
  }
  @media (max-width: 760px) {
    font-size: rem(18);
  }
  @media (max-width: 540px) {
    font-size: rem(20);
    width: 100%;
    padding: {
      left: rem(15);
      right: rem(15);
    }
    &:last-child {
      border-bottom-color: transparent;
    }
  }
}

.tabs__content {
  margin-left: rem(28);
  background: #fff;
  padding: rem(22 32);
  font-size: rem(20);
  &_long-text {
    font-size: rem(14);
    color: $gray;
    p {
      font-size: rem(14);
      color: $gray;
    }
  }
  @media (max-width: 968px) {
    margin-left: 0;
  }
  @media (max-width: 760px) {
    font-size: rem(18);
  }
  @media (max-width: 540px) {
    padding: {
      left: rem(15);
      right: rem(15);
    }
  }
}

.tabs__content-item {
  &:not(:last-child) {
    margin-bottom: rem(42);
  }
}
