.typical-block {
  padding: rem(18 0 235);
  text-align: center;
  &_small-padding-bottom {
    padding-bottom: rem(38);
  }
}

.typical-block__container {
  margin: 0 auto;
  padding: 0 rem(20);
  max-width: rem(1350);
  &_big {
    max-width: rem(1440);
  }
}

.typical-block__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: rem(105);
  &_big-margin-bottom {
    margin-bottom: rem(142);
  }
}

.typical-block__img {
  margin-right: rem(47);
}

.typical-block__text {
  line-height: 2.08;
  text-align: center;
}

.typical-block__currency {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: rem(70);
}

.typical-block__popup-link {
  position: relative;
  width: rem(120);
  margin: 0 auto;
}
