$border-colors: ();
$border-width-values: ();

$border-colors: (
  green: #69c113,
  red: #fc2837,
  yellow: $yellow
);

$border-width-values: (
  4: 4px,
  6: 6px,
  9: 9px
);

@each $name, $color in $border-colors {
  .underline-btn_#{$name}-border {
    border-color: $color;
  }
}

@each $name, $width in $border-width-values {
  .underline-btn_border-width-#{$name} {
    border: {
      top-width: 0;
      left-width: 0;
      right-width: 0;
      bottom-width: $width;
    }
  }
}

.underline-btn {
  font-size: rem(12);
  color: $white-with-blue;
  padding-bottom: 3px;
  border-style: solid;
  text-align: center;
  &_font-size-14 {
    font-size: rem(14);
  }
  &_font-size-19 {
    font-size: rem(19);
  }
  &_min-width {
    min-width: rem(95);
    margin: 0 auto;
  }
  &_uppercase {
    text-transform: uppercase;
  }
  &_desktop {
    @media (max-width: 680px) {
      display: none;
    }
  }
  &_mobile {
    @media (min-width: 681px) {
      display: none;
    }
  }
}
