.up-button {
  border-radius: 50%;
  background: linear-gradient(180deg, #2f4c6f 0%, #1e6f9b 38%, #00acea 100%);
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  right: rem(141);
  top: rem(30);
  width: rem(82);
  height: rem(82);
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1080px) {
    width: rem(62);
    height: rem(62);
    svg {
      max-width: rem(33);
    }
  }
  @media (max-width: 768px) {
    width: rem(56);
    height: rem(56);
    right: rem(50);
    svg {
      max-width: rem(25);
    }
  }
}
