.wallet-form {
  top: rem(30);
  right: rem(-13);
  .form__input {
    padding-bottom: 0.6rem;
  }
  .form__item {
    &:nth-child(2) {
      margin-bottom: rem(43);
    }
  }
}

.wallet-form__actions {
  margin-bottom: rem(60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $link-blue;
  padding-right: rem(21);
}

.wallet-form__forgot-link {
  font: {
    family: $roboto;
    size: rem(13);
  }
  &:hover, &:focus {
    color: darken($link-blue, 20%);
  }
}
