@font-face {
  font-family: "SegoeUi";
  src: url('../fonts/SegoeUi/SegoeUi-Bold.ttf'),
		   url('../fonts/SegoeUi/SegoeUi-Bold.eot'),
		   url('../fonts/SegoeUi/SegoeUi-Bold.woff');
	font-weight: 700;
}

@font-face {
  font-family: "SegoeUi";
  src: url('../fonts/SegoeUi/SegoeUi.ttf'),
		   url('../fonts/SegoeUi/SegoeUi.eot'),
		   url('../fonts/SegoeUi/SegoeUi.woff');
	font-weight: normal;
}

@font-face {
  font-family: "SegoeUi";
  src: url('../fonts/SegoeUi/SegoeUi-Light.ttf'),
		   url('../fonts/SegoeUi/SegoeUi-Light.eot'),
		   url('../fonts/SegoeUi/SegoeUi-Light.woff');
	font-weight: 300;
}
