$main-fz: 16px;
$black: #141414;
$gray: #707070;
$light-gray: #e9e9f0;
$blue:  #00acec;
$alt-blue: #65baff;
$link-blue: #357bee;
$dark-blue: #003277;
$dashboard-blue: #109bf8;
$block-color: #576271;
$border-color: #f7f9fb;

$purple: #7752ff;
$violet: #887bff;
$bright-blue: #5ae2ff;
$red: #f80a0a;
$green: #69c113;
$confirmed-green: #7fff7b;

$roboto: 'Roboto', sans-serif;
$main-font: 'SegoeUi', sans-serif;
