$main-fz: 16px;
$black: #141414;
$simple-black: #000000;
$gray: #707070;
$light-gray: #e9e9f0;
$blue:  #00acec;
$alt-blue: #65baff;
$link-blue: #357bee;
$dark-blue: #43425d;
$dashboard-blue: #0d1539;
$dashboard-dark-blue: #070c24;
$dashboard-bg: #283a50;
$dashboard-header-bg: #29405a;
$block-color: #576271;
$border-color: #f7f9fb;
$white-with-blue: #849fb4;
$popup-title-color: #43425d;
$credit-card-bg: #2e3243;

$purple: #aa91ff;
$violet: #887bff;
$bright-blue: #5ae2ff;
$rose: #ff4e5a;
$red: #ff3d3d;
$dark-red: #aa5555;
$green: #55aa55;
$dashboard-green: #32d513;
$dashboard-light-blue: #46bbff;
$yellow: #d9d42c;
$confirmed-green: #7fff7b;

$roboto: 'Roboto', sans-serif;
$main-font: 'SegoeUi', sans-serif;
$source-sans-pro: 'SourceSansPro', sans-serif;
$head-font: 'SegoeUi', sans-serif;
$segoe-light: 'SegoeUi', sans-serif;

$gray-200: #a5a5a5;
$gray-300: #686868;
$gray-400: #808080;
